:local(.postContainer) {
  position: fixed;
  top: 50%;
  left: 50%;
}

:local(.postWrapper) {
  position: absolute;
  height: 100px;
  transition: transform 0.1s;

  @media screen and (max-width: 600px) {
    height: 60px;
    transition: transform 0.4s;
  }
}
