:local(.scrollContainer) {
}

:local(.main) {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('https://lh3.googleusercontent.com/qFImCEXHSuiUSsWtlwW_1LiJk0YWtnMJMU2qlNhJ8uSBVouUYpW6m5JQ3DWHqQ1v4So2wmAxgfM_UpmQPDrZrWJ0Z7hoJy8GgwOMwiQ65RYsphFrtkw5CnT3I7A4uLblKp0oAzCgOV0=w765-h574-no');
  background-size: cover;
  background-position: center;
}
