:local(.scrollContainer) {
}

:local(.main) {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

:local(.ticks) {
  position: absolute;
  z-index: 0;
  color: #add820;
  left: 27px;
  font-weight: bold;
}
