:local(.slide) {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

:local(.date) {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: arial, sans-serif;
}

:local(.post) {
  position: fixed;
  margin: auto;
  width: 200px;
  height: 200px;
  border: 5px solid #000;
  background-color: #fff;
  opacity: 0;
  transform: translateX(-200%);
  transition: opacity 1.0s, transform 1.0s;
}

:local(.postContainer) {
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}